<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Annuaire Bien être{% endblock %}</title>
	{% block stylesheets %}{% endblock %}

	<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png" />
</head>
<body>
<div class="page-wrapper">
	{% block body %}{% endblock %}
</div><!-- /.page-wrapper -->
	{% block javascripts %}{% endblock %}
</body>
</html>
